___

Mr. Yogesh P Murumkar (Mob. 9657080906)

https://www.youtube.com/c/yogeshmurumkar
___
# Python Course Exercises 1

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners.

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [2]:
s = "Hi there Yogesh!"
print(s.split())

['Hi', 'there', 'Yogesh!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [11]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [18]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',
                            {'target':[1,2,3,'hello']}]}]}

In [26]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [27]:
'''
Tuple is immutable
Tuple are defined using parentheses '()'
'''

'''
List is Mutable
List are defined using square brackets '[]'
'''

"\nList is Mutable\nList are defined using square brackets '[]'\n"

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [33]:
def fun1(email):
    s=email.split('@')
    return s[-1]

In [34]:
fun1('user@gmail.com')

'gmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [36]:
def findDog(string):
    s = string.lower()
    
    if 'dog' in s:
        return True
    else:
        return False

In [37]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [48]:
def countDog(string):
    count = 0
    s = string.lower().split()
    
    for i in s:
        if 'dog' == i:
            count = count+1
    return count

In [49]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [50]:
seq = ['soup','dog','salad','cat','great']

In [52]:
#words from a list that don't start with the letter 's'
x = list(filter(lambda x : x[0]!= 's', seq))
print(x)

['dog', 'cat', 'great']

In [54]:
#words from a list that start with the letter 's'
x = list(filter(lambda x : x[0]== 's', seq))
print(x)

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [56]:
def caught_speeding(speed, is_birthday):
    if is_birthday == True:
        speed = speed - 5
    if speed > 80:
        return 'Big Ticket'
    elif speed > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [57]:
caught_speeding(81,True)

'Small Ticket'

In [58]:
caught_speeding(81,False)

'Big Ticket'

'''Q1 Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678'''

In [63]:
def ext_num(string):
    n=''
    neg= False
    
    if string[0]=='-':
        neg=True
        string=string[1:]
        
    for i in string:
        if i.isdigit():
            n += i
            
    if neg:
        n='-'+n
    
    return int(n)

In [65]:
ext_num('fdhfh78dsd89')

7889

'''Q2
WAP to check whether a number is palindrome or not on following 
conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse'''

In [70]:
def is_palindrome(num):
    return str(num) == str(num)[::-1]

def check_palindrome(num):
    while True:
        sum_num = num + int(str(num)[::-1])
        print('original number is:',num)
        n=int(str(num)[::-1])
        print('Reverse number is:', n)
        print('sum of original number + reverse number:',sum_num)
        
        if is_palindrome(sum_num):
            return "The number is a palindrome: {}".format(sum_num)
        else:
            num = sum_num

In [71]:
input_num = int(input("Enter a number: "))
result = check_palindrome(input_num)
print(result)

Enter a number: 852
original number is: 852
Reverse number is: 258
sum of original number + reverse number: 1110
original number is: 1110
Reverse number is: 111
sum of original number + reverse number: 1221
The number is a palindrome: 1221

'''Q3 Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19'''

In [75]:
def find_five_digit():
    for i in range(10000, 100000): 
        n = str(i)
        if int(n[0]) == int(n[1]) + 2:
            if int(n[1]) == int(n[2]) + 2:
                if int(n[3]) == int(n[2]) - 2:
                    if int(n[4]) == int(n[3]) + 2:
                        if int(n[2]) + int(n[3]) + int(n[4]) == int(n[0]):
                            if sum(int(digit) for digit in n) == 19:
                                return i

print(find_five_digit())

75313

# Great job!